/* 1. Importar las tipografías desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&family=Quicksand:wght@600&family=Tinos:wght@700&display=swap');

/* 2. Variables Globales */
:root {
  /* Jerarquía Tipográfica */
  --font-tittle: 'Tinos', serif;        /* Para <h1>, <h2> */
  --font-subtittle: 'Quicksand', sans-serif; /* Para <h3>, <h4> o destacados */
  --font-text: 'Nunito', sans-serif;   /* Para <p>, <span>, <a> */

  /* Paleta de Colores Cálida (Ajusta los códigos hexadecimales a los tuyos) */
  --font: #464b19;
  --dark-green: #566138;
  --brawn: #6c5d21;
  --back: #fbfff3;
  --yellow: #f4e198;
  --yellow-border:#eac377;
  --green: #bece82;
  --green-border:#8e9d54;
  --light-orange: #ddb280;
  --orange: #f6975f;
  --orange-border: #b8622f;
  --beige: #f8f4df;
  --white: #ffffff;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Prohíbe terminantemente el scroll horizontal en toda la página */
}
/* 3. Aplicación base rápida */

.font-n span, p{
  font-family: var(--font-text);
  color: var(--font);
}
h1, h2 {
  font-family: var(--font-tittle);
  color: var(--font);
}

h3, h4 {
  font-family: var(--font-subtittle);
  color: var(--dark-green);
}
a{
  text-decoration: none;
}
.ig-btn{
  background: transparent;
  border: none;
  padding: 10px 10px;
}
.ig-btn i, .email-btn i{
  font-size: 1.5rem;
  color: var(--font);
}
.email-btn{
  background: transparent;
  border: none;
  text-decoration: none;
}